<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publish Post</title>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            var urlParams = new URLSearchParams(window.location.search);
            var postId = urlParams.get('postId');

            $('#publishForm').submit(function (event) {
                event.preventDefault(); // 기본 폼 제출 방지

                var formData = new FormData();
                var publishForm = {
                    postId: postId,
                    introduce: $('#introduce').val(),
                    isHide: $('#isHide').is(':checked'),
                    series: $('#series').val(),
                    postUrl: $('#postUrl').val()
                };

                formData.append('publishForm', new Blob([JSON.stringify(publishForm)], {type: 'application/json'}));

                // FormData 내용을 콘솔에 출력
                for (let [key, value] of formData.entries()) {
                    console.log(`${key}: ${value}`);
                }

                if ($('#file')[0].files.length > 0) {
                    formData.append('file', $('#file')[0].files[0]);
                }

                $.ajax({
                    url: '/api/posts/publish',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false, // 이 부분을 false로 설정하면 브라우저가 boundary를 포함한 적절한 Content-Type을 설정합니다.
                    success: function (data) {
                        window.location.href = data;
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + xhr.responseText || status);
                    }
                });
            });
        });

        /*]]>*/
    </script>


</head>
<body>
<div>
    <h2>Publish Your Post</h2>
    <form id="publishForm" enctype="multipart/form-data">

        <div>
            <label for="introduce">Introduction:</label>
            <input type="text" id="introduce" name="introduce" required/>
        </div>

        <div>
            <label for="isHide">Hide Post:</label>
            <input type="checkbox" id="isHide" name="isHide"/>
        </div>

        <div>
            <label for="series">Series:</label>
            <input type="text" id="series" name="series"/>
        </div>

        <div>
            <label for="postUrl">Post URL:</label>
            <input type="text" id="postUrl" name="postUrl" required/>
        </div>

        <div>
            <label for="file">Main Image:</label>
            <input type="file" id="file" name="file"/>
        </div>

        <button type="submit">Publish Post</button>
    </form>
</div>
</body>
</html>
